<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/scripts.js" defer></script>


</head>
<body>
<div id="home-container">
    <h1>Welcome to the Reading Levels Application</h1>
    <nav>

        <ul>
            <li><a href="quizzes.html">Start Quiz</a></li>
            <li><a href="register.html">Register</a></li>
            <li><a href="login.html">Login</a></li>
            <li><a href="#" onclick="logoutUser()">Logout</a></li>

        </ul>
    </nav>
</div>
<div class="image-columns">
    <div class="left-column">
        <img src="https://cdn.pixabay.com/photo/2017/08/10/08/16/book-2619909_1280.jpg" alt="Left Image">
    </div>
    <div class="right-column">
        <img src="https://cdn.pixabay.com/photo/2015/12/04/09/13/leaves-1076307_1280.jpg" alt="Right Image">
    </div>
</div>
</body>
</html>
